* {
    margin: 0;
    padding 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.hidden {
    display: none;
}
img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: -1;
}

#black_bg {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    opacity: 90%;
}

#white_box {
    width: 50%;
    height: 40%;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-weight: 800;
    font-size: 90%;
}

#white_box h1 {
    margin: 10px;
}

#login_form input {
    font-size: 20px;
    padding: 20px;
    background: transparent;
    border: none;
    border-bottom: 1px black solid;
}

#login_form button {
    background-color: gray;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: white;
    font-size: 20%;
}

#wholebox {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#clock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 20vh;
    font-weight: 1000;
    font-size: 30px;   
}


#h1-clock {
    font-size: 40px;
}

#todo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 60vh;
}

#todo_form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 10%;
}

#todo_form input {
    width: 50%;
    height: 80%;
    font-size: 25px;
    background: transparent;
    border: none;   
    border-bottom: 2px solid black; 
}


#todos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 50%;
}

#todo_list {
    padding: 10px;
    width: 50%;
    height: 80%;
    font-size: 30px;
}

#todo_list button {
    margin-left: 10px;
    font-size: 25px;
    color: red;
    border: none;
    background: transparent;
}

#weather {
    width: 100vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 900;
}

#weather h2 {
    font-size: 30px;
    margin: 10px;
}